{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% macro nav_loop(page) %}
  {% import _self as macros %}
  {% for p in page.children.visible %}
    {{ dump(p.header) }}
    {% if not p.header.hidemenu %}
      {% set active_page = (p.active or p.activeChild) ? 'active' : '' %}
      {% if p.children.visible.count > 0 %}
        <li>
          <a href="{{ p.url }}" class="{{ active_page }}">
            {{ p.menu }}
          </a>
          <ul>
            {{ macros.nav_loop(p) }}
          </ul>
        </li>
      {% else %}
        <li>
          <a href="{{ p.url }}" class="{{ active_page }}">
            {{ p.menu }}
          </a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro onepage_nav_loop(page) %}
  {% import _self as macros %}
  {% for p in page.children %}
    {% set active_page = (p.active or p.activeChild) ? 'active' : '' %}
    {% if not p.header.hidemenu %}
      {% if p.children.visible.count > 0 %}
        <li>
          <a href="#{{ macros.pageLinkName(p.menu) }}" class="{{ active_page }}">
            {{ p.menu }}
          </a>
          <ul>
            {{ macros.onepage_nav_loop(p) }}
          </ul>
        </li>
      {% else %}
        <li>
          <a href="#{{ macros.pageLinkName(p.menu) }}" class="{{ active_page }}">
            {{ p.menu }}
          </a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}
