{% set grid_size = theme_var('grid-size') %}
{% do assets.addCss('https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css') %}
{% do assets.addJs('https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js') %}
{% set fullwidth_map = header.map.fullwidth|defined(false) %}
{% set lat = header.map.lat|defined(0.0) %}
{% set lon = header.map.lon|defined(0.0) %}
{% set zoom = header.map.zoom|defined(10) %}

<section class="section modular-text {{ page.header.class }}">
    <section class="container {{ grid_size }}">
        <div class="frame-box">
            {{ content|raw }}
            {% if not fullwidth_map %}
                <div id="{{ page.slug }}-map" class="map"></div>
            {% endif %}
        </div>
    </section>
    {% if fullwidth_map %}
    <div id="{{ page.slug }}-map" class="map"></div>
    {% endif %}
</section>

<script type="text/javascript">
    var map = new ol.Map({
        target: '{{ page.slug }}-map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.OSM()
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([{{ lon }}, {{ lat }}]),
            zoom: {{ zoom }},
        })
    });
</script>
