{% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %}
{% set grid_size = theme_var('grid-size') %}
{% set compress = theme_var('production-mode') ? '.min.css' : '.css' %}
{% use 'blocks/base.html.twig' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
    {% block head deferred %}
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="apple-touch-icon" sizes="57x57" href="{{ url('theme://images/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url('theme://images/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url('theme://images/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url('theme://images/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url('theme://images/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url('theme://images/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url('theme://images/apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url('theme://images/apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://images/apple-touch-icon-180x180.png') }}">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url('theme://images/android-chrome-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon-16x16.png') }}" sizes="16x16">
    <link rel="mask-icon" href="{{ url('theme://images/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ url('theme://images/favicon.ico') }}">
    <meta name="msapplication-TileImage" content="{{ url('theme://images/mstile-144x144.png') }}">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% endblock head %}

    {% block stylesheets %}
    {% do assets.addCss('theme://css-compiled/spectre'~compress) %}
    {% if theme_var('spectre.exp') %}{% do assets.addCss('theme://css-compiled/spectre-exp'~compress)  %}{% endif %}
    {% if theme_var('spectre.icons') %}{%  do assets.addCss('theme://css-compiled/spectre-icons'~compress) %}{% endif %}
    {% do assets.addCss('theme://css-compiled/theme'~compress) %}
    {% do assets.addCss('theme://css/custom.css') %}
    {% do assets.addCss('theme://css/line-awesome.min.css') %}
    {% endblock %}

    {% block javascripts %}
    {% do assets.addJs('jquery', 101) %}
    {% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
    {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
    {% endblock %}

    {% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
    {% endblock %}
</head>
<body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %}">
<div id="page-wrapper">
    {% block header %}
    <section id="header" class="section">
        <section class="container {{ grid_size }}">
            <nav class="navbar">
                <section class="navbar-section logo">
                    {% include 'partials/logo.html.twig' %}
                </section>
                <section class="navbar-section desktop-menu">

                    <nav class="dropmenu animated">
                        {% block header_navigation %}
                        {% include 'partials/navigation.html.twig' %}
                        {% endblock %}
                    </nav>

                    {% if config.plugins.login.enabled and grav.user.username %}
                    <span class="login-status-wrapper"><i class="fa fa-user"></i> {% include 'partials/login-status.html.twig' %}</span>
                    {% endif %}

                </section>
            </nav>
        </section>
    </section>
    <div class="mobile-menu">
        <div class="button_container" id="toggle">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </div>
    </div>
    {% endblock %}

    {% block hero %}{% endblock %}

    <section id="start">
        {% block body %}
        <section id="body-wrapper" class="section">
            <section class="container {{ grid_size }}">
                {% block messages %}
                {% include 'partials/messages.html.twig' ignore missing %}
                {% endblock %}
                {{ block('content_surround') }}
            </section>
        </section>
        {% endblock %}
    </section>

</div>

{% block footer %}
{% include 'partials/footer.html.twig' %}
{% endblock %}

{% block mobile %}
<div class="mobile-container">
    <div class="overlay" id="overlay">
        <div class="mobile-logo">
            {% include 'partials/logo.html.twig' with {mobile: true} %}
        </div>
        <nav class="overlay-menu">
            {% include 'partials/navigation.html.twig' with {tree: true} %}
        </nav>
    </div>
</div>
{% endblock %}

{% block bottom %}
{{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
